services:
  backend-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: network-backend-api
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - devnetwork
    restart: unless-stopped

networks:
  devnetwork:
    external: true
